{{#file-dropzone name="photos" local-class='upload-area' as |dropzone queue|}}
  <div local-class="dropzone-upload-area" class={{concat 'upload ' (if dropzone.active 'active')}}>
    {{#if dropzone.supported}}
      <div local-class="">
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <img src="./test.jpg" alt="">
          {{else}}
            b🐮
          {{/if}}
        {{else}}
          <img src="./test.jpg" alt="">
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div local-class="click-upload">
      {{#if dropzone.supported}}
        {{!-- Drag your proof or --}}
      {{/if}}
      {{#file-upload name="photos"
                    multiple=false
                    onfileadd=(action "clickToUploadFiles")
                    accept="image/*,video/*,audio/*,vnd.ms-excel/*"}}
        {{#if queue.files.length}}
          {{filename}}
        {{/if}}<a>选择文件</a>
      {{/file-upload}}
  </div>
{{/file-dropzone}}
{{yield}}
