<div local-class="step-content-wrapper">
    <div local-class="calc-max-content">
        <p local-class="explain-text">本次计算预估耗时
            <span>30</span> 分钟，请确保您的装置电量充足， 保持联网，在计算完成前，请勿关闭本界面
        </p>
        {{#unless isShowCalcProgress}}
            <div local-class="btn-start" {{action "startCalcMAX"}}>
                <div local-class="btn-start-content">
                    开始计算
                </div>
            </div>
        {{else}} 
         {{circle-progress option=option eid="circle-progress"}}
            {{!-- {{#unless calcHasDone}}
                <div local-class="calc-progress">
                    <div local-class="calc-progress-content">
                        滚动
                    </div>
                </div>
            {{else }}
                <div local-class="calc-progress">
                    <div local-class="calc-progress-content">
                        100%
                    </div>
                </div>
            {{/unless}}  --}}
        {{/unless}} 
        {{#unless isShowCalcProgress}}
            <p local-class="calc-progress-text">准备计算。。。</p>
        {{else}} 
            {{#unless calcHasDone}}
                <p local-class="calc-progress-text">正在进行MAX计算。。。</p>
            {{else}}
                <p local-class="calc-progress-text">
                    {{#link-to "adddata.viewresults"}}
                    <button local-class="btn-default-max">查看结果></button>
                    {{/link-to}}
                </p>
            {{/unless}} 
        {{/unless}}
    </div>
</div>

{{yield}}