<div local-class="wrapper-content">
    <p local-class="content-title">
        <p><span class="glyphicon glyphicon-th"></span>&nbsp;运维中心</p>
    </p>
    <div local-class="content-detail">
        <div local-class="detail-choosebar">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">搜索</span>
                <input type="text" name="" value="" placeholder="请输入用户名">
            </div>

        </div>




<div local-class="detail-choosebar tain">
    <div local-class="choosebar-content choosebar-left">
        <span local-class="select-title">恩华（Nhwa）</span>
        <div local-class="tain-act"></div>
    </div>
</div>
<div local-class="tain-tab">
    {{#link-to "admin.maintain-center.cleaning"}}<p style="left:0;background:#ddd;color:#666;">清洗模块</p>{{/link-to}}
    {{#link-to "admin.maintain-center.sample"}}<p style="left:25%;">生成样本模块</p>{{/link-to}}
    {{#link-to "admin.maintain-center.enlarge"}}<p style="background:#ddd;color:#666;left:50%;">放大模块</p>{{/link-to}}
    {{#link-to "admin.maintain-center.output"}}<p style="background:#ddd;left:75%;color:#666;">最终输出</p>{{/link-to}}
    <form>
        <div class="">
            <span>生成模型：</span>
            <input type="text" disabled="true" name="" placeholder="恩华生成panel方法">
        </div>
        {{#each sample_sheets as |sheet|}}
            <div class="">
                <span style="display:inline-block;width:150px;overflow:hidden;height: 35px;">{{sheet.title}}</span>
                {{!-- <input type="text" name="" placeholder={{}}> --}}
                {{input type="text" disabled="true" name="" value="" placeholder=sheet.file_name}}
                <button type="button" name="button">替换</button>
            </div>
        {{/each}}
        {{#each sample_universe as |universe|}}
            <div class="">
                <span style="display:inline-block;width:150px;overflow:hidden;height: 35px;">{{universe.title}}</span>
                {{!-- <input type="text" name="" placeholder={{}}> --}}
                {{input type="text" disabled="true" name="" value="" placeholder=universe.file_name}}
                <button type="button" name="button">替换</button>
            </div>
        {{/each}}
        {{!-- <div class="">
            <span>市场定义表：</span>
            <input type="text" name="" placeholder="Nhwa_ProductMatchTable_20180502.xlsx">
            <button type="button" name="button">替换</button>
        </div>
        <div class="">
            <span>未到名单：</span>
            <input type="text" name="" placeholder="Nhwa_ProductMatchTable_20180502.xlsx">
            <button type="button" name="button">替换</button>
        </div>

        <div class="">
            <span>补充医院：</span>
            <input type="text" name="" placeholder="Nhwa_ProductMatchTable_20180502.xlsx">
            <button type="button" name="button">替换</button>
        </div> --}}

    </form>
    <div local-class="tain-foot">
        <button type="button" name="button" local-class="cancel">取消</button>
        {{#bs-button local-class="save" onClick=(action (mut modal3) true)}}保存{{/bs-button}}
    </div>
</div>



</div>
</div>


{{#bs-modal fade=false open=modal3 onHidden=(action (mut modal3) false) as |modal|}}
{{#modal.header}}
<h4 class="modal-title">
提示
</h4>
{{/modal.header}}
{{#modal.body}}
<p>xxxxx,将会对xxxx产生影响，</p>
<p>是否确认修改？</p>
{{/modal.body}}
{{#modal.footer}}
{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
{{!-- {{#bs-button type="danger"}}Delete{{/bs-button}} --}}
{{#bs-button type="success" onClick=(action modal.submit)}}确认{{/bs-button}}
{{/modal.footer}}
{{/bs-modal}}



{{outlet}}
