{{outlet}}
<div local-class="step-content-wrapper">
    <div local-class="generate-sample-content">
        <p local-class="explain-text">将对你本次上传的源文件</p>
        <p local-class="file-name">
            <span>CAP：{{if filenameone filenameone "文件名"}}{{filenameone}}</span>
            <span>GYCX： {{if filenametwo filenametwo "文件名"}}</span>
        </p>
        <p local-class="explain-text">进行清洗、过滤后，生成本次计算的样本</p>
        {{#unless SampleObject.isShowProgress}}
            <div local-class="btn-start" {{action "startParsingFile"}}>
                <div local-class="btn-start-content">
                    开始
                </div>
            </div>
        {{else }}
            {{circle-progress option=circleProgressOption eid="circle-progress"}}
        {{/unless}}
        {{#unless SampleObject.isShowProgress}}
            <p local-class="reupload">
                {{#bs-button onClick=(action (mut uploadAgain) true)}}上传错误？重新上传{{/bs-button}}
            </p>
        {{else}}
            <p local-class="calc-progress-text">正在解析您的原文件。。。</p>
        {{/unless}}
    </div>
</div>

{{!-- 重新上传文件弹框 --}}
{{#bs-modal fade=false backdropClose=false open=uploadAgain onHidden=(action (mut uploadAgain) false) as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            提示
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        <p>是否重新上传原文件</p>
    {{/modal.body}}
    {{#modal.footer}}
        {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
        {{#link-to "adddata.uploadfiles"}}
            {{#bs-button}}重新上传{{/bs-button}}
        {{/link-to}}
    {{/modal.footer}}
{{/bs-modal}}

{{!-- 选择月份弹框 --}}
{{#bs-modal fade=false open=SampleObject.fileParsingSuccess backdropClose=false onHidden=(action (mut SampleObject.fileParsingSuccess) false) as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            选择月份
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        <p>本次上传件中含以下几个月份，</p>
        <p>请选择要进行计算的月份：（可多选）</p>
        {{#each SampleObject.years as |item|}}
            <label class="data-checkbox" for="{{item.year}}">
                {{input type="checkbox" id=item.year name="year" checked=item.isChecked}}
                <span class="checkbox-span"></span>{{item.year}}
            </label>
        {{/each}}
    {{/modal.body}}
    {{#modal.footer}}
        {{#bs-button class="btn-only-text" onClick=(action 'cantFindMonth')}}未显示需要的月份{{/bs-button}}
        {{#bs-button onClick=(action 'startGenerateSample')}}确认{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}

{{!-- 文件解析错误弹框 --}}
{{#bs-modal fade=false backdropClose=false open=SampleObject.fileParsingError onHidden=(action (mut SampleObject.fileParsingError) false) as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            提示
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        <p local-class="download-model">下载文件格式范本</p>
        <p>原因可能为：</p>
        <p>1.原文件格式可能有误。</p>
        <p>2.原文件不含有月份的数值。</p>
        <p>3.原文件上传错误。</p>
        <p>请检查原文件，并重新上传正确的原文件。</p>
    {{/modal.body}}
    {{#modal.footer}}
        {{#link-to "adddata.uploadfiles"}}
            {{#bs-button }}重新上传{{/bs-button}}
        {{/link-to}}
    {{/modal.footer}}
{{/bs-modal}}

{{!-- 缺少数据弹框 --}}
{{#bs-modal fade=false backdropClose=false open=SampleObject.cantFindMonth onHidden=(action (mut SampleObject.cantFindMonth) false) as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            未显示要计算的月份？
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        <p>您上传的文件可能月份有缺失，请重新检查文件，</p>
        <p>并重新上传。</p>
    {{/modal.body}}
    {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}返回选择{{/bs-button}}
        {{#link-to "adddata.uploadfiles"}}
            {{#bs-button }}重新上传{{/bs-button}}
        {{/link-to}}
    {{/modal.footer}}
{{/bs-modal}}
