<div local-class="step-content-wrapper-noshadow">
    <div local-class="view-results-content">
        <div local-class="result-choosebar">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">市场</span>
                <select local-class="choose-select choose-market" name="">
                    <option>Markone</option>
                    <option>Markone</option>
                    <option>Markone</option>
                </select>
                <span local-class="select-title">月份</span>
                <select local-class="choose-select choose-month" name="">
                    <option>04/2017</option>
                    <option>04/2017</option>
                    <option>04/2017</option>
                </select>
            </div>
            <div local-class="choosebar-content choosebar-right">
                <button {{action 'saveData'}} local-class="btn-default-max" type="button" name="button">导出</button>
            </div>
        </div>
        <div local-class="market-results">
            <div local-class="market-target">
                <p local-class="result-title"><span>INF</span>市场指标</p>
                {{!-- <div local-class="market-target-content">
                    <div>
                        <p local-class="small-title">市场总销售额</p>
                        <div>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </div> --}}
                <div local-class="market-target-content" class="container-fluid">
                    <div local-class="row small-title">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">市场总销售额</div>
                        
                        <div class="col-md-4">辉瑞产品销售额</div>
                        <div class="col-md-4">份额</div>
                    </div>
                    <div class="row" local-class=" target-specific">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="col-md-8" local-class="big-text">
                                ￥670.5 <span>Mil</span>
                            </div>
                            <div class="col-md-4">
                                <p>同比</p>
                                <p local-class="show-state">+03.1%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-8" local-class="big-text">
                                 ￥670.5
                                <span>Mil</span>
                            </div>
                            <div class="col-md-4">
                                <p>同比</p>
                                <p local-class="show-state">+03.1%</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-8" local-class="big-text">
                                 ￥670.5
                                <span>Mil</span>
                            </div>
                            <div class="col-md-4">
                                <p>同比</p>
                                <p local-class="show-state">+03.1%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div local-class="market-trend">
                <p local-class="result-title">
                    <span>INF</span>市场趋势 <span local-class="trend-legend">aaaa  bbbbb</span></p>
                     {{result-trend-line-and-bar eid="result-trend-line-and-bar"}}
            </div>
        </div>
        <div local-class="market-results">
            <p local-class="result-title"><span>INF</span>地区层面结果</p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                         {{result-map eid="result-map"}}
                    </div>
                    <div class="col-md-4">
                         {{result-mirror-bar eid="result-mirror-bar"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#bs-modal local-class="hint-area" open=isSave onHidden=(action (mut isSave) false) as |modal|}} 
    {{#modal.header}}
        <h4 class="modal-title">
            请确认保存的数据
        </h4>
    {{/modal.header}} 
    {{#modal.body}}
        <input type="checkbox">a
        <input type="checkbox">b
        <input type="checkbox">c
        <input type="checkbox">dd
        
    {{/modal.body}} 
    {{#modal.footer}} 
        {{#bs-button onClick=(action modal.close)}}关闭选择{{/bs-button}} 
        {{#bs-button onClick=(action 'confirmSave')}}确认{{/bs-button}} 
    {{/modal.footer}} 
{{/bs-modal}}
{{yield}}