<div local-class="login-wrapper">
    <div local-class="login-left">
        <img src="../setup/pharbers_logo_white.png" alt="">
    </div>
    <div local-class="login-right">
        <div local-class="login-title">登入数据平台</div>
        <form action="#">
            <div local-class="login-item login-user">
                <span class="glyphicon glyphicon-user"></span>
                {{!-- <input type="text" placeholder="请输入帐号"> --}}
                 {{input value=username}}
            </div>
            <div local-class="login-item login-password">
                <span class="glyphicon glyphicon-lock"></span>
                {{!-- <input type="text" placeholder="请输入密码"> --}}
                 {{input type="password" value=password}}
            </div>
                <button {{action "logIn"}} local-class="btn-default-max">登入</button>
            {{!-- 测试逻辑 --}}
            {{!-- {{#link-to "index"}}
                <button {{action "logIn"}} local-class="btn-default-max">登入</button>
            {{/link-to}} --}}
        </form>
    </div>
    
</div>
{{yield}}