<div local-class="step-content-wrapper">
    <div local-class="step-left">
        <p>
            <span>请上传CPA文件</span>
            <span>(仅支持：excel)</span>
        </p>
        <div local-class="upload-area">
            <div local-class="dropzone-upload-area" class= {{concat 'upload ' (if dropzone.active 'active')}}>
                {{#unless filecpa }}
                    <img src="../assets/images/cpa.png" alt="">
                {{else}}
                    <img src="../assets/images/cpadone.png" alt="">
                {{/unless}}
            </div>
            <div local-class="click-upload">
                {{#file-upload name="file-cpa" multiple=false onfileadd=(action "uploadCpaFile") accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}}
                    {{#if filecpa}} {{filecpa}} {{/if}}
                    <a>选择文件</a>
                {{/file-upload}}
            </div>
        </div>
    </div>

    <div local-class="step-right">
        <p>
            <span>请上传国药诚信文件</span>
            <span>(仅支持：excel)</span>
        </p>

        <div local-class="upload-area">
            <div local-class="dropzone-upload-area" class= {{concat 'upload ' (if dropzone.active 'active')}}>
                {{#unless filegycx }}
                        <img src="../assets/images/gycx.png" alt="">
                    {{else}}
                        <img src="../assets/images/gycxdone.png" alt="">
                {{/unless}}
            </div>
            <div local-class="click-upload">
                {{#file-upload name="file-gycx" multiple=false onfileadd=(action "uploadGycxFile") accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}}
                    {{#if filegycx}} {{filegycx}} {{/if}}
                    <a>选择文件</a>
                {{/file-upload}}
            </div>
        </div>
    </div>
    {{!-- 下一步正确逻辑 下方四行--}}
    {{#if isDisabled}}
        <button {{action 'pleaseUploadFile'}} local-class="btn-default-max to-generate-sample" type="button" name="btn-second-step">下一步</button>
    {{else}}
        {{#link-to "adddata.gsample"}}
            <button local-class={{unless isDisabled "useable" }} local-class="btn-default-max to-generate-sample" type="button" name="btn-second-step">下一步</button>
        {{/link-to}}
    {{/if}}
    {{!-- 下一步正确逻辑 上方四行 --}}
    {{!-- 下一步测试逻辑 --}}
    {{!-- {{#link-to "adddata.gsample"}}
        <button local-class="to-generate-sample useable" type="button" name="btn-second-step">下一步</button>
    {{/link-to}} --}}
</div>
{{#bs-modal local-class="hint-area" open=remindUploadFile onHidden=(action (mut remindUploadFile) false) as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title">
            提示
        </h4>
    {{/modal.header}}
    {{#modal.body}}
        <p>请上传文件</p>
    {{/modal.body}}
    {{#modal.footer}}
        {{#bs-button onClick=(action modal.close)}}关闭{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}
{{yield}}
