<div local-class="login">
    <div local-class="login-wrapper">
        <div local-class="login-left">
            <img src="../assets/images/pharbers_logo_color.png" alt="">
        </div>
        <div local-class="login-right">
            <div local-class="login-title">登入数据平台</div>
            <form action="#">
                <div local-class="login-item login-user">
                    <img src="../assets/images/id.png" alt=""> {{input value=username placeholder="请输入帐号" }}
                </div>
                <div local-class="login-item login-password">
                    <img src="../assets/images/code.png" alt=""> {{input type="password" value=password placeholder="请输入密码" }}
                </div>
                <button type="button" name="button" {{action "sbtInfo"}} local-class="btn-default-max">登入</button>

            </form>
        </div>
    </div>
    <div local-class="copyright">
        <p> <button {{action "testLogin"}} class="btn-danger" type="button" name="button">测试按钮，后期删除</button> </p>
        {{!-- <p>从‘data/uploadfiles’路由进入后，会在beforeModel 中获取到index路由的controller.js中的‘userIsLoggedIn’的值</p>
        <p>如果为‘false’，将会跳转到登录页面。在点击测试按钮后，修改‘userIsLoggedIn’的值为true，就能调回到前路由，如果没有前路由，
            将会调往指定界面，在此为’viewresults</p> --}}
        <p>Copyright © 2018 Pharbers . All rights reserved.</p>
    </div>
</div>
{{outlet}}
