{{#if hasBlock}}
{{yield}}

{{else}}
<div local-class="step-content-wrapper">
    <div local-class="step-left">
        <p><span>请上传CPA文件</span> <span>(仅支持：excel)</span> </p>
        {{#file-dropzone name="file-one" local-class='upload-area' as |dropzone queue|}}
          <div local-class="dropzone-upload-area" class={{concat 'upload ' (if dropzone.active 'active')}}>
            {{#if dropzone.supported}}
              <div local-class="">
                {{#if dropzone.active}}
                  {{#if dropzone.valid}}
                    <img src="./test.jpg" alt="">
                  {{else}}
                    b🐮
                  {{/if}}
                {{else}}
                  <img src="./test.jpg" alt="">
                {{/if}}
              </div>
            {{/if}}

          </div>
          <div local-class="click-upload">
              {{#if dropzone.supported}}
                {{!-- Drag your proof or --}}
              {{/if}}
              {{#file-upload name="photos"
                            multiple=false
                            onfileadd=(action "clToUploadFiles")
                            accept="image/*,video/*,audio/*,vnd.ms-excel/*"}}
                {{#if queue.files.length}}
                  {{filename}}
                {{/if}}<a>选择文件</a>
              {{/file-upload}}
          </div>
        {{/file-dropzone}}
        {{!-- <div local-class="upload-area">
            {{upload-files index=0}}
        </div> --}}
    </div>

    <div local-class="step-right">
        <p><span>请上传国药诚信文件</span> <span>(仅支持：excel)</span> </p>
        {{#file-dropzone name="file-two" local-class='upload-area' as |dropzone queue|}}
          <div local-class="dropzone-upload-area" class={{concat 'upload ' (if dropzone.active 'active')}}>
            {{#if dropzone.supported}}
              <div local-class="">
                {{#if dropzone.active}}
                  {{#if dropzone.valid}}
                    <img src="./test.jpg" alt="">
                  {{else}}
                    b🐮
                  {{/if}}
                {{else}}
                  <img src="./test.jpg" alt="">
                {{/if}}
              </div>
            {{/if}}
          </div>
          <div local-class="click-upload">
              {{#if dropzone.supported}}
                {{!-- Drag your proof or --}}
              {{/if}}
              {{#file-upload name="photos"
                            multiple=false
                            onfileadd=(action "UploadFilesss")
                            accept="image/*,video/*,audio/*,vnd.ms-excel/*"}}
                {{#if queue.files.length}}
                  {{filename}}
                {{/if}}<a>选择文件</a>
              {{/file-upload}}
          </div>
        {{/file-dropzone}}
        {{!-- <div local-class="upload-area">
            {{upload-files index=1}}
        </div> --}}
    </div>
        <button local-class="to-second-step" type="button" name="btn-second-step">下一步</button>
</div>
{{/if}}
